<section class="flash_sales">
    <h1>Long Sleeve</h1>

    <div class="container">
        <div class="box">
            <img src="/assets/Img/long1.jpg" alt="">
            <div>
                <h2>Long Sleeve</h2>
                <span class="prices">
                    <p class="oldprice">Price: D350</p>    
                    <p class="newprice">Price: D300</p>
                    </span>
                <button class="btn">Buy</button>
            </div>
        </div>
        <div class="box">
            <img src="/assets/Img/long3.jpg" alt="">
            <div>
                <h2>Long Sleeve</h2>
                <span class="prices">
                    <p class="oldprice">Price: D350</p>    
                    <p class="newprice">Price: D300</p>
                </span>
                <button class="btn">Buy</button>
            </div>
        </div>
        <div class="box">
            <img src="/assets/Img/long2.jpg" alt="">
            <div>
                <h2>Long Sleeve</h2>
                <span class="prices">
                    <p class="oldprice">Price: D350</p>    
                    <p class="newprice">Price: D300</p>
                </span>
                <button class="btn">Buy</button>
            </div>
        </div>
    </div>
</section>