<section class="hero">
    <div class="intro">
    <h4>
        HUSTLESTARS – Unleash Your Inner Potential and Wear the Power of Ambition.
    </h4>
    <h1>
        Design specially for you
    </h1>
    </div>
    <div class="intro2">
        <div class="box box1">
            <span class="topline">HustleStars</span>
           <h3>We do <span class="multitext"></span></h3>
           <p>HUSTLESTARS is a clothing brand designed to empower ambitious individuals to embrace their unique potential and pursue greatness. With a mission centered around unlocking inner strength, HUSTLESTARS blends style with purpose. Each piece is crafted to inspire wearers to push boundaries, aim higher, and become the stars of their own journey. HUSTLESTARS is more than just a brand—it's a movement for dreamers and doers who strive to make their mark and hustle with purpose.</p>
        </div>
        <div class="box">
            <img src="/assets/Img/long3.jpg" alt="shirt">
        </div>
    </div>
</section>